html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

body {
  font-family: "Open Sans";
  background-color: #fff;
  font-weight: 400;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
