.header {
  padding: 20px 10px;
  border: 1px solid green;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    cursor: pointer;
  }
  &__menu {
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      font-size: 18px;
      color: #000;
      margin-right: 20px;
    }
  }
}
