.Image{
    margin: auto;
    position: relative;
    
    &_texts{
      position: absolute;
      bottom: 0;
      padding-bottom: 0.5rem;
      padding-right: 0.2rem;
    }
  
    &_title{
      padding-left: 11px;
      font-size: 18px;
      line-height: 107%;
      padding-bottom: 0.4rem;
      color: #FFFFFF;
    }
  
    &_comment{
      padding-left: 11px;
      font-size: 12px;
      line-height: 129%;
      font-style: italic;
      color: #FFFFFF;
    }
  
  }
  