/* A powerful story can change the world. */
.slogan{
    
    font-size: 45px;
    line-height: 115%;
    /* or 52px */
    color: #1E2023;
}

.screen1{
    position: absolute;
    height: 889px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #CED3E3;
    z-index: -1;
}

.Image{
    margin: auto;
    position: relative;
}

.image_texts{
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5rem;
    padding-right: 0.2rem;
}

.image_title{
    padding-left: 11px;
    font-size: 18px;
    line-height: 107%;
    padding-bottom: 0.4rem;
    color: #FFFFFF;
}

.image_comment{
    padding-left: 11px;
    font-size: 12px;
    line-height: 129%;
    font-style: italic;
    color: #FFFFFF;
}

.verizon_text{
    padding-top: 27px;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 21px;
    line-height: 160%;
    /* or 34px */
    color: #1E2023;
    opacity: 0.75;
}
