.searchtext{
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    color: #1E2023;
    background: transparent;
    text-align: center;
    outline: none;
}

.searchtext::placeholder{
    color: #1E2023;
}

