body{
    /* background: #CED3E3; */
    font-family: Neuzeit Grotesk;
    background: #E5E5E5;
}

.divider{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #1E2023
}

.btn-radius-10{
    border-radius: 10px !important;
}

.btn{
    text-transform: initial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
}

/*****  page1/satistics *******/
.statistics_item{
    min-width: 150px;
    text-align: center;
    align-items: center;
}

.statistics_item .number{
    font-size: 28px;
}

.statistics_item .description{
    font-size: 18px;    
    line-height: 18px;
}

.searchbar .searchtext{
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    color: #1E2023;
}


/******  page1/searchgroup  *****/

.btn_view_all{
    border-radius: 48px;
    height: 40px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #1E2023;
}

.down_icon{
    width: 16px;
    height: 8px;
    display: inline-block;
}

.search_item_img{
    margin: auto;
    border-radius: 9px;
}

.search_item_comment{
    font-size: 16px;
    font-style: italic;
}

.search_item_stories{
    font-size: 16px;
    flex-shrink: 0;
    padding-left: 1rem;
}

.featured_group_title{
    font-family: Mulish Italic;
    font-size: 42px;
    line-height: 42px;
}

.featured_group_stories{
    font-size: 18px;
}

.MDBbtn{
    height: 500px;
    font-size: 16px;
    text-align: center;
}

.MDBbtn .black{
    color: #fff;
    background-color: #2e2e2e !important;
}

.MDBbtn .outline{
    color: #2e2e2e !important;
    background-color: transparent !important;
    border: 2px solid #2e2e2e !important;
}