body{
    /* background: #CED3E3; */
    font-family: Neuzeit Grotesk;
    background: #E5E5E5;
}

.divider{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #1E2023
}

.border-grey{
    border-color:#7C7D83
}

.btn-radius-10{
    border-radius: 10px !important;
}

.btn{
    text-transform: initial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
}

/*****  page1/satistics *******/
.statistics_item{
    min-width: 150px;
    text-align: center;
    align-items: center;
}

.statistics_item .number{
    font-size: 28px;
}

.statistics_item .description{
    font-size: 18px;    
    line-height: 18px;
}

.searchbar .searchtext{
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    color: #1E2023;
}


/******  page1/searchgroup  *****/

.btn_view_all{
    border-radius: 48px;
    height: 40px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* background: #1E2023; */
}

.down_icon{
    width: 16px;
    height: 8px;
    display: inline-block;
}

.MDBbtn{
    padding: 0 2rem 0 2rem;
    height: 46px;
    font-size: 16px;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    letter-spacing: 3px;
    /* padding: 0 10px 0 10px; */
}

.MDBbtn.black{
    color: #fff;
    background-color: #1E2023 !important;
}

.MDBbtn.outline{
    color: #2e2e2e !important;
    background-color: transparent !important;
    border: 2px solid #2e2e2e !important;
}

.btn-radius-10{
    border-radius: 10px;
}

.btn-radius-40{
    border-radius: 40px;
}

.image-keep-orig{
    min-width: fit-content;
}
